.git
.gitignore
.github

.next
node_modules

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile*
docker-compose*.yml

README.md
LICENSE

.vscode
.idea
.DS_Store

.env
.env.*
!.env.example